
/////////////////////////////////////////////////////////////////////
@media (max-width: 1680px) {
	.info__name {
		right: -100px;
	}
	.galary__section {
		background-position: -70px;
	}
	.footer__doots {
		position: absolute;
		left: -70px;
		top: -65px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
	.header__wrapper {
		margin-bottom: 180px;
	}
	.header__dots-blue {
		width: 200px;
		top: 25px;
		left: 25px;
	}
	.header__dots-yellow {
		width: 220px;
		top: 502px;
	}
	.cross__wrapper-blue {
		right: -20px;
	}
	.cross__wrapper-white {
		top: 500px;
		left: 45px;
	}
	.header__boot {
		width: 600px;
		top: 10px;
		left: -370px;
	}
	.sale {
		top: 150px;
		left: 15px;
	}
	.header__man {
		top: -80px;
		right: -60px;
		width: 300px;
	}
	.header__title {
		font-size: 40px;
	}
	.header__logo {
		width: 280px;
		margin: 40px 200px 40px 0;
	}
	.info__name {
		right: -60px;
		font-size: 80px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
	.container {
		width: 1000px;
	}
	.header__wrapper {
		margin-bottom: 120px;
	}
	.header__title {
		font-size: 36px;
	}
	.header__boot {
		width: 500px;
		top: 30px;
		left: -295px;
	}
	.header__content {
		width: 700px;
	}
	.header__dots-yellow {
		width: 220px;
		top: 502px;
		right: -100px;
	}
	.cross__wrapper-white {
		top: 420px;
		left: 45px;
	}
	.sale {
		top: 140px;
		left: 15px;
	}
	.advantage__man {
		width: 400px;
		position: absolute;
		top: 50px;
		left: 0;
	}
	.line__yellow {
		position: absolute;
		top: 100px;
		left: -40px;
	}
	.info__content {
		width: 360px;
	}
	.info__right .sale {
		left: 0;
	}
	.galary__slide-1 {
		width: 470px;
		height: 338px;
		top: 45px;
		right: 20px;
	}
	.galary__slide-2 {
		width: 330px;
		height: 237px;
		left: 110px;
		bottom: 140px;
	}
	.galary__slide-3 {
		width: 280px;
		height: 270px;
		bottom: 30px;
		right: 50px;
	}
	.card__left {
		width: calc(100% - 420px);
		padding: 40px 30px 30px 30px;
	}
	.card__right {
		width: 420px;
		height: 100%;
		background-color: #202F46;
		padding: 40px 0;
	}
	.card__right-wrapper {
		width: 360px;
		height: 100%;
		margin: auto;
	}
	.card__boot {
		width: 550px;
		top: 110px;
	}
	.sprey__wrapper {
		width: 650px;
	}
	.sprey__card {
		width: 100%;
		height: auto;
		margin-top: 190px;
		padding: 30px;
	}
	.sprey__form {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
	}
	.sprey__form .header__order-btn {
		width: 229px;
		margin-top: 20px;
		background-color: #14E7E9;
		border: 2px solid #14E7E9;
		color: #222222;
	}
	.sprey__card .sale {
		top: 130px;
		left: 25px;
	}
	.move__mark {
		width: 650px;
		height: 50px;
		margin-left: -170px;
	}
	.add__review {
		width: 150px;
	}
	.footer__title {
		width: 560px;
		font-size: 34px;
	}
	.footer__man {
		width: 380px;
		top: 160px;
		right: -100px;
	}
	.footer__boot {
		right: 144px;
		top: 185px;
		width: 400px;
	}
	.footer__bg-logo {
		width: 350px;
		top: 90px;
		right: 80px;
	}
	.footer__wrapper .sale {
		top: 300px;
		right: 460px;
	}
	.footer__doots {
		display: none;
	}
	.triengles {
		display: none;
	}
}


/////////////////////////////////////////////////////////////////////
@media (max-width: 1080px) {
	.container {
		width: 800px;
	}
	.header__content {
		width: 100%;
		padding: 0;
	}
	.header__wrapper {
		align-items: center;
	}
	.header__logo {
		width: 280px;
		margin: 40px 0 40px 0;
	}
	.header__title {
		padding: 0 150px;
	}
	.cross__wrapper-white {
		display: none;
	}
	.header__boot {
		width: 430px;
		top: 110px;
		left: -150px;
	}
	.sale {
		top: 150px;
		left: 80px;
	}
	.advantages {
		width: 384px;
		height: 1106px;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.advantage {
		width: 384px;
		height: 222px;
		margin-top: 32px;
		background-color: #2F3F58;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		position: relative;
		padding: 50px 28px;
	}
	.advantage:nth-of-type(1), .advantage:nth-of-type(2) {
		margin-bottom: 0;
	}
	.advantage__man {
		width: 400px;
		position: absolute;
		top: 190px;
		left: 0;
	}
	.line__blue {
		position: absolute;
		bottom: 270px;
		right: 20px;
	}
	.info__section {
		height: auto;
	}
	.info__section-wrapper {
		position: relative;
		padding: 60px 0 30px 0;
	}
	.info__left {
		position: absolute;
		top: 355px;
		left: 0;
	}
	.info__right {
		padding-top: 0;
	}
	.info__content {
		width: 100%;
	}
	.info__text {
		margin-bottom: 550px;
	}
	.info__price {
		align-self: flex-end;
	}
	.info__boot {
		bottom: auto;
		left: auto;
		top: 320px;
		width: 200px;
		right: 80px;
	}
	.info__right .sale {
		left: auto;
		right: 216px;
	}
	.info__logo-bg {
		position: absolute;
		top: 420px;
		left: auto;
		right: 0;
		transform: none;
	}
	.info__name {
		display: none;
	}
	.galary__section {
		background-position: -70px;
		height: auto;
		padding: 50px 0;
	}
	.galary__info {
		width: 380px;
		height: auto;
	}
	.galary__title {
		font-size: 30px;
	}
	.galary__advantage-title {
		font-size: 20px;
	}
	.galary__advantage-text {
		font-size: 16px;
	}
	.galary__slide-1 {
		width: 390px;
		height: 278px;
		top: 80px;
		right: 0;
	}
	.galary__slide-2 {
		width: 290px;
		height: 205px;
		left: 220px;
		bottom: 192px;
	}
	.galary__slide-3 {
		width: 220px;
		height: 210px;
		bottom: 100px;
		right: 18px;
	}
	.card {
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	.card__left {
		width: 100%;
		padding: 40px 30px 30px 30px;
	}
	.card__logo {
		width: 220px;
		margin-bottom: 450px;
	}
	.card__boot {
		left: 50%;
		transform: translateX(-50%);
	}
	.card__fotos {
		width: 100%;
		max-width: 553px;
		margin: auto;
	}
	.card__right {
		width: 100%;
		padding: 0;
		padding-top: 40px;
	}
	.sprey__card {
		padding: 0;
		margin-top: 100px;
	}
	.sprey__wrapper {
		width: 100%;
		padding: 50px 20px 40px 20px;
	}
	.sprey__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.sprey__logo {
		display: inline-block;
		margin-right: 0;
		margin-bottom: 455px;
	}
	.sprey__title {
		margin-right: 0;
	}
	.sprey__form .header__order-btn {
		margin: 0;
	}
	.sprey__img {
		position: absolute;
		bottom: auto;
		top: 112px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}
	.sprey__card .sale {
		top: 280px;
		left: 50%;
		margin-left: -163px;
		transform: translateX(-50%) rotate(-10deg);
	}
	.move__mark {
		width: 550px;
		height: 50px;
		margin-left: -125px;
	}
	.add__review {
		margin-left: 400px;
	}
	.site__footer {
		height: auto;
	}
	.footer__man {
		width: 360px;
		top: 200px;
		right: -150px;
	}
	.footer__boot {
		right: 100px;
		top: 250px;
		width: 350px;
	}
	.footer__bg-logo {
		width: 320px;
		top: 140px;
		right: 20px;
	}
	.footer__title {
		width: 470px;
		font-size: 30px;
		margin-bottom: 100px;
	}
	.footer__wrapper .header__label {
		margin-left: 50px;
		margin-bottom: 50px;
	}
	.footer__wrapper .sale {
		top: 288px;
		right: 360px;
	}
	.footer__doots2 {
		position: absolute;
		bottom: 60px;
		right: 162px;
	}
	.footer__doots-small {
		position: absolute;
		bottom: 160px;
		right: -200px;
	}
	.footer__info {
		height: auto;
		padding: 10px 0;
	}
	.footer__info .container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		span {
			margin-right: 10px;
			line-height: 140%;
			text-align: center;
		}
	}
}


/////////////////////////////////////////////////////////////////////
@media (max-width: 880px) {
	.container {
		width: 700px;
	}
	.header__wrapper {
		margin-bottom: 50px;
	}
	.header__logo {
		width: 335px;
		margin: 30px 0 20px 0;
	}
	.header__title {
		padding: 0 100px;
		margin-bottom: 370px;
	}
	.header__boot {
		width: 430px;
		top: 130px;
		left: 85px;
	}
	.sale {
		top: 200px;
		left: 340px;
	}
	.header__man {
		top: 90px;
		right: 50px;
		width: 210px;
	}
	.cross__wrapper-blue {
		top: 225px;
		right: 40px;
	}
	.header__dots-blue {
		width: 200px;
		top: 450px;
		left: 15px;
	}
	.header__dots-yellow {
		width: 220px;
		top: 730px;
		right: 0;
	}
	.line__yellow {
		display: none;
	}
	.advantage__man {
		width: 500px;
		position: absolute;
		top: 190px;
		left: -165px;
	}
	.info__left {
		top: 410px;
	}
	.info__text {
		margin-bottom: 1280px;
		font-size: 20px;
	}
	.info__left {
		left: 50%;
		transform: translateX(-50%);
		img {
			width: 414px;
		}
	}
	.info__boot {
		bottom: 180px;
		left: auto;
		top: auto;
		width: 200px;
		right: 50%;
		transform: translateX(50%);
	}
	.info__price {
		align-self: center;
	}
	.info__right .sale {
		left: 172px;
		right: auto;
		top: auto;
		bottom: 350px;
	}
	.info__logo-bg {
		position: absolute;
		top: auto;
		left: auto;
		right: 0;
		-webkit-transform: none;
		transform: none;
		bottom: 260px;
	}
	.info__logo {
		align-self: center;
	}
	.galary__section {
		background-image: none;
	}
	.galary__info {
		width: 400px;
		height: auto;
		margin: auto;
	}
	.galary {
		width: 500px;
		height: 520px;
		position: relative;
		right: auto;
		top: auto;
		-webkit-transform: translateY(-50%);
		transform: none;
		margin: auto;
	}
	.galary__slide-2 {
		width: 290px;
		height: 205px;
		left: 0;
		bottom: 70px;
	}
	.galary__slide-3 {
		width: 220px;
		height: 210px;
		bottom: 0;
		right: 18px;
	}
	.sprey__input-wrapper {
		margin-bottom: 20px;
	}
	.delivery {
		width: 100%;
		height: auto;
		padding: 12px 15px;
		font-size: 23px;
	}
	.add__review {
		margin-left: 0;
	}
	.move__mark {
		width: 344px;
		height: 20px;
		position: absolute;
		bottom: 62px;
		left: 50%;
		transform: translateX(-50%);
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-left: 0;
		&:before {
			display: none;
		}
	}
	.review__btns {
		width: 100%;
	}
	.review__mark {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.add__review {
		bottom: 30px;
		width: auto;
	}
	.review__2 {
		left: 100%;
	}
	.review__title {
		display: none;
	}
	.review__title-slide {
		display: block;
	}
	.site__footer {
		background: #232639;
	}
	.footer__wrapper {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: relative;
	}
	.footer__wrapper:before {
		content: "";
		position: absolute;
		width: 400px;
		height: 400px;
		border-radius: 100%;
		background: #324778;
		filter: blur(100px);
		left: 50%;
		transform: translateX(-50%);
		top: 280px;
	}
	.footer__logo {
		margin-top: 50px;
		margin-bottom: 15px;
	}
	.footer__title {
		max-width: 470px;
		font-size: 24px;
		margin-bottom: 400px;
	}
	.footer__bg-logo {
		display: none;
	}
	.footer__doots-small {
		display: none;
	}
	.footer__doots2 {
		display: none;
	}
	.footer__wrapper .header__label {
		margin-left: 0;
		margin-bottom: 50px;
	}
	.footer__man {
		width: 300px;
		top: 280px;
		right: 80px;
	}
	.footer__boot {
		right: 170px;
		top: 215px;
		width: 391px;
	}
	.footer__wrapper .sale {
		top: 246px;
		right: 60px;
		transform: rotate(10deg);
	}

}


/////////////////////////////////////////////////////////////////////
@media (max-width: 740px) {

}


/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: 600px;
	}
	.header__title {
		padding: 0 50px;
		margin-bottom: 370px;
		font-size: 32px;
	}
	.advantage__wrapper {
		justify-content: center;
		margin-bottom: 0;
		padding-bottom: 600px;
	}
	.advantage__wrapper:before {
		content: "";
		width: 400px;
		height: 400px;
		background-color: #324778;
		filter: blur(100px);
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
	.line__blue {
		position: absolute;
		bottom: auto;
		top: 775px;
		right: 50%;
		margin-right: -30px;
		transform: translateX(50%);
	}
	.advantage__man {
		width: 384px;
		position: absolute;
		top: auto;
		left: 50%;
		bottom: 50px;
		transform: translateX(-50%);
	}
	.info__logo {
		align-self: center;
		margin-bottom: 35px;
		margin-top: 50px;
	}
	.info__section-wrapper {
		position: relative;
		padding: 0;
	}
	.info__title {
		margin-bottom: 30px;
		text-align: center;
	}
	.info__left {
		top: 400px;
	}
	.info__right .sale {
		left: 123px;
		right: auto;
		top: auto;
		bottom: 390px;
	}
	.info__logo-bg {
		right: -80px;
	}
	.info__left img {
		margin: 0;
	}
}


/////////////////////////////////////////////////////////////////////
@media (max-width: 660px) {

}


/////////////////////////////////////////////////////////////////////
@media (max-width: 540px) {
	.container {
		width: 400px;
	}
	.site__header {
		background: none;
		background-color: #232639;
	}
	.header__wrapper:before {
		content: "";
		width: 400px;
		height: 400px;
		background-color: #324778;
		filter: blur(100px);
		position: absolute;
		top: 173px;
		left: 50%;
		transform: translateX(-50%);
	}
	.header__title {
		padding: 0;
		font-size: 30px;
		margin-bottom: 370px;
		text-align: center;
	}
	.header__boot {
		width: 410px;
		top: 140px;
		left: -25px;
	}
	.header__man {
		top: 110px;
		right: -20px;
		width: 200px;
	}
	.sale {
		top: 200px;
		left: 220px;
	}
	.cross__wrapper-blue {
		display: none;
	}
	.header__dots-blue {
		width: 200px;
		top: 440px;
		left: -30px;
	}
	.header__dots-yellow {
		width: 220px;
		top: 730px;
		right: -55px;
	}
	.info__text {
		font-size: 17px;
	}
	.info__right .sale {
		left: 20px;
	}
	.info__logo-bg {
		right: -120px;
	}
	.galary__info {
		margin-bottom: 45px;
	}
	.galary {
		width: 384px;
		height: 274px;
		position: relative;
		margin: auto;
	}
	.galary__slide {
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		position: relative;
		width: 384px;
		height: 274px;
		z-index: auto;
		box-shadow: none;

		.galary__img {
			border-radius: 20px;
			position: absolute;
			width: 384px;
			height: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			pointer-events: auto;
		}
	}
	.galary__slide-3 img {
		width: 384px;
		height: auto;
	}
	.galary__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 344px;
		margin: auto;
		margin-top: 20px;
	}
	.galary__next {
		order: 1;
	}
	.galary__prev {
		order: 3;
		transform: rotate(180deg) translateY(4px);
	}
	.slick-list {
		border-radius: 20px;
	}
	.slick-dots {
		width: 70px;
		position: static;
		order: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			width: 10px;
			height: 10px;
			button {
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background-color: #fff;
				padding: 0;
			}
			button:before {
				display: none;
			}
		}
		li.slick-active {
			button {
				background: #202F46;
				border: 2px solid #FFFFFF;
			}
		}
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.card__left {
		background-position: center 135px;
		background-size: 238px;
		padding: 50px 20px 10px 20px;
	}
	.card__logo {
		width: 220px;
		margin: auto;
		margin-bottom: 310px;
	}
	.card__boot {
		width: 370px;
		top: 120px;
	}
	.card__foto {
		width: 108px;
		height: 71px;
		margin-bottom: 10px;
	}
	.card__sale {
		//display: none;
	}
	.card__left .sale {
		-webkit-transform: none;
		transform: none;
		left: auto;
		top: 105px;
		right: 20px;
		width: 90px;
		height: 90px;
	}
	.card__header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
		margin-bottom: 19px;
	}
	.card__price {
		display: flex;
		justify-content: center;
		margin-bottom: 16px;
		.price {
			margin: 0;
		}
	}
	.card__2 .card__boot {
		top: 100px;
	}
	.sprey__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.sprey__input-wrapper {
		width: 100%;
		margin-bottom: 20px;
	}
	.sprey__input {
		width: 100%;
		height: 60px;
	}
	.sprey__form .header__order-btn {
		margin: 0;
		width: 100%;
	}
	.review__wrapper {
		left: 50%;
		margin-left: -212px;
	}
	.review__1 {
		top: 20px;
		left: 1%;
		width: 384px;
		height: 471px;
		opacity: 1;
	}
	.review__block {
		flex-direction: column;
		justify-content: flex-start;
		padding: 39px 16px 32px 20px;
	}
	.review__quote {
		right: 20px;
		bottom: 20px;
	}
	.review__text {
		font-size: 17px;
		line-height: 150%;
	}
	.review__title-slide {
		display: block;
		font-size: 30px;
	}
	.review__name {
		position: absolute;
		bottom: 32px;
		left: 20px;
	}
	.footer__info .container {
		span {
			font-size: 12px;
			text-align: center;
		}
	}
	.footer__title {
		max-width: 100%;
		text-align: center;
		font-size: 22px;
		margin-bottom: 400px;
	}
	.footer__man {
		width: 240px;
		top: 280px;
		right: 15px;
	}
	.footer__boot {
		right: 75px;
		top: 215px;
		width: 344px;
	}
	.footer__wrapper .sale {
		top: 210px;
		right: 0;
	}
	.footer__wrapper:before {
		top: 215px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.container {
		width: calc(100% - 30px);
	}
	.header__dots-blue {
		top: 450px;
		left: -120px;
	}
	.header__dots-yellow {
		width: 220px;
		top: 780px;
		right: -90px;
	}
	.header__boot {
		width: 390px;
		top: 140px;
		left: -10px;
	}
	.header__man {
		top: 110px;
		right: -20px;
		width: 190px;
	}
	.header__title {
		font-size: 24px;
	}
	.sale {
		top: 185px;
		left: 210px;
	}
	.advantages {
		width: 100%;
	}
	.info__title {
		font-size: 30px;
	}
	.info__text {
		margin-bottom: 1270px;
		font-size: 14px;
	}
	.line__blue {
		animation: none;
	}
	.info__left {
		top: 380px;
	}
	.info__logo-bg {
		right: -150px;
	}
	.info__price {
		width: 100%;
	}
	.info__price .header__order-btn {
		width: 100%;
	}
	.galary__info {
		width: 100%;
	}
	.galary__title {
		font-size: 26px;
		text-align: center;
	}
	//.galary__advantage-title {
	//	font-size: 20px;
	//}
	//.galary__advantage-text {
	//	font-size: 18px;
	//}
	.galary__advantage {
		margin-bottom: 35px;
	}
	.galary {
		width: 100%;
	}
	.galary__controls {
		width: 290px;
	}
	.card {
		margin-top: 50px;
	}
	.card__right-wrapper {
		width: calc(100% - 30px);
	}
	.card__right .header__order-btn {
		width: 100%;
	}
	.card__sale {
		max-width: 300px;
		margin: auto;
	}
	.card__title {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.sprey__card {
		margin-top: 50px;
	}
	.sprey__card .sale {
		margin-left: -166px;
	}
	.delivery {
		margin-bottom: 35px;
	}
	.footer__man {
		width: 220px;
		top: 320px;
		right: 0;
	}
	//.footer__title {
	//	font-size: 28px;
	//}
	.footer__boot {
		right: 60px;
		top: 215px;
		width: 344px;
	}
	.footer__wrapper .sale {
		top: 220px;
		right: 0;
	}
	.footer__wrapper .header__label {
		margin-left: 0;
		margin-bottom: 100px;
	}
}


/////////////////////////////////////////////////////////////////////
@media (max-width: 390px) {
	.header__title {
		font-size: 24px;
	}
	.card__foto {
		width: 92px;
		height: 63px;
		margin-bottom: 10px;
	}
	.review__1 {
		top: 20px;
		left: 1%;
		width: 370px;
		height: 471px;
		opacity: 1;
	}
	.review__wrapper {
		margin-left: -204px;
	}
	.info__right .sale {
		left: 8px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
	.header__title {
		padding: 0;
		margin-bottom: 370px;
		text-align: center;
	}
	.header__price {
		width: 290px;
	}
	.price {
		width: 270px;
		margin-bottom: 15px;
	}
	.header__order-btn {
		width: 290px;
		font-size: 16px;
	}
	.header__logo {
		width: 290px;
		margin: 30px 0 20px 0;
	}
	.advantage__text {
		font-size: 13px;
	}
	.advantage__man {
		width: 360px;
		bottom: 70px;
	}
	.info__logo {
		width: 300px;
		margin-bottom: 30px;
	}
	.info__title {
		font-size: 30px;
		text-align: center;
		margin-bottom: 20px;
	}
	.info__left {
		top: 360px;
	}
	.info__left img {
		width: 375px;
	}
	.info__text {
		margin-bottom: 1225px;
	}
	.info__right .sale {
		left: 4px;
	}
	.card__logo {
		width: 220px;
		margin: auto;
		margin-bottom: 280px;
	}
	.card__foto {
		width: 32%;
		height: 60px;
		margin-bottom: 5px;
	}
	.card__boot {
		width: 300px;
		top: 145px;
	}
	.card__left {
		background-position: center 151px;
		background-size: 180px;
		padding: 50px 20px 10px 30px;
	}
	.card__2 .card__boot {
		top: 120px;
	}
	.delivery {
		font-size: 22px;
	}
	.review__1 {
		top: 20px;
		left: 1%;
		width: 350px;
		height: 471px;
		opacity: 1;
	}
	.review__wrapper {
		margin-left: -194px;
	}
	.move__mark {
		width: 290px;
	}
	.footer__boot {
		right: 25px;
		top: 245px;
		width: 300px;
	}
	.footer__man {
		width: 200px;
		top: 320px;
		right: 0;
	}
	.footer__title {
		max-width: 100%;
		text-align: center;
		margin-bottom: 400px;
	}
	.footer__logo {
		width: 290px;
		margin-top: 40px;
		margin-bottom: 15px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 360px) {
	.sprey__img {
		width: 200px;
	}
	.sprey__card .sale {
		top: 275px;
		margin-left: -145px;
	}
	.sprey__logo {
		margin-right: 0;
		margin-bottom: 410px;
	}
	.review__1 {
		top: 20px;
		left: 1%;
		width: 330px;
		height: 471px;
		opacity: 1;
	}
	.info__right .sale {
		left: -5px;
	}
	.review__wrapper {
		margin-left: -184px;
	}
	.review__title-slide {
		display: block;
		font-size: 28px;
		margin-bottom: 20px;
	}
	.review__text {
		font-size: 16px;
		line-height: 150%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.header__title {
		font-size: 24px;
	}
	.header__boot {
		width: 350px;
		top: 170px;
		left: -40px;
	}
	.header__man {
		top: 130px;
	}
	.sale {
		top: 190px;
		left: 150px;
	}
	.header__dots-blue {
		left: -132px;
		top: 415px;
	}
	.advantage__wrapper {
		padding-bottom: 500px;
	}
	//.advantage__text {
	//	font-size: 16px;
	//}
	.advantage__man {
		width: 320px;
		bottom: 50px;
	}
	.line__blue {
		margin-right: -10px;
	}
	.info__right {
		width: 100%;
	}
	.info__title {
		font-size: 28px;
	}
	.info__left {
		top: 460px;
	}
	.info__left img {
		width: 320px;
	}
	.info__right .sale {
		left: -10px;
	}
	.info__boot {
		width: 180px;
	}
	.info__logo-bg {
		right: -180px;
		bottom: 240px;
	}
	.info__text {
		margin-bottom: 1100px;
		font-size: 16px;
	}
	.galary {
		width: 100%;
		height: 240px;
	}
	.galary__slide {
		height: 240px;
	}
	.galary__title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 26px;
	}
	.galary__advantage-title {
		font-size: 18px;
	}
	.galary__advantage-text {
		font-size: 16px;
	}
	.card__foto {
		width: 75px;
		height: 50px;
		margin-bottom: 10px;
	}
	.card__boot {
		width: 300px;
		top: 145px;
		margin-left: 10px;
	}
	.card__info {
		font-size: 16px;
	}
	.card__form {
		.time {
			font-size: 14px;
		}
	}
	.sprey__img {
		width: 180px;
	}
	.sprey__card .sale {
		top: 255px;
		margin-left: -138px;
	}
	.sprey__logo {
		margin-right: 0;
		margin-bottom: 380px;
	}
	.sprey__header .price {
		width: 250px;
	}
	.sprey__text {
		font-size: 16px;
	}
	.delivery {
		font-size: 20px;
	}
	.review__1 {
		top: 20px;
		left: 1%;
		width: 290px;
		height: 471px;
		opacity: 1;
	}
	.review__wrapper {
		margin-left: -164px;
	}
	.review__title-slide {
		display: block;
		font-size: 26px;
		margin-bottom: 20px;
	}
	.review__text {
		font-size: 16px;
		line-height: 150%;
	}
	.footer__man {
		width: 200px;
		top: 320px;
		right: -12px;
	}
	.footer__boot {
		right: 28px;
		top: 260px;
		width: 279px;
	}
	.footer__title {
		max-width: 100%;
		text-align: center;
		margin-bottom: 380px;
	}
	.footer__wrapper .header__label {
		margin-left: 0;
		margin-bottom: 80px;
	}
}
